
html{
    color: black;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-style: normal;
    }

    
    #conteiner{
        display: flexbox;
        justify-content: space-between;
        align-items: center;
    }
    

    header{
    background-color: whitesmoke;
    width: max-content;
    }

    .titulo{
    display: flex;
    align-items: center;
    font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 30px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid black;
}
    
     #logo{
       width: 70px;
       height: 70px;
       border-radius: 50%;
       border: 2px solid black;
      
       
      margin-right: 5px;
    }
    
   a {
        text-decoration: none; 
        color: rgb(55, 55, 55); 
        padding: 20px;
    }

#menu{
    display: flex;
    color: grey;
}

#menu a:hover{
    color: white;

}

#menu a{
border: 2px solid black;
  display: grid;
}


#barra_nav{
display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90px;
  padding: 0;
  align-items: center;
  justify-content: center;
 
}

#foot{
    display: flex;
    color: gray;
    margin: 15px;
    list-style: none;
}

#foot li{
    list-style: none;
}

#footer{
    color: rgb(59, 59, 59);
    font-weight: bold;
    font-size: 10px;
    margin: 15px;
}

h4{
    text-align: center;
    margin: 15px;   
}

footer{
    justify-content: center;
    align-items: center;
    display: flexbox;
    background-color: whitesmoke;
    width: max-content;
    height: max-content;
    padding: 23px;
}

img {
    width: 20%;
    height: 20%;
    display: block; /* Hacer que la imagen sea un bloque */
    margin: 0 auto; /* Margen automático a la izquierda y derecha para centrar horizontalmente */
}
.contenedor-padre{
display: flex;
    /*utilizar flexbox*/
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    /*alinear verticalmete al centro*/
    justify-content: space-around;
    /*distribuir el espacio entre los elementos*/
    padding-left: 15px;
    padding-right: 15px;
    height: 650px;
}

.total{
    order: 2;
}

.foto-producto{
    order: 1;
}

h1 {
    text-align: center;
}

.devoluciones{
    text-align: center;
}

.tit { /*Ajusto la seccion de la pagina web*/
    top: 5%;
    left: 50%;
    text-align: center;
    font-size: 50px;
}

.imagenes-productos {
    position: relative;
    display: flex; /*Aplico flexbox para posicionarlas como quiero */
    justify-content: center;
    gap: 50px;
}

.imagenes-productos > p {
    text-align: center;
}
