img {
    width: 20%;
    height: 20%;
    display: block; /* Hacer que la imagen sea un bloque */
    margin: 0 auto; /* Margen automático a la izquierda y derecha para centrar horizontalmente */
}
.contenedor-padre{
display: flex;
    /*utilizar flexbox*/
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    /*alinear verticalmete al centro*/
    justify-content: space-around;
    /*distribuir el espacio entre los elementos*/
    padding-left: 15px;
    padding-right: 15px;
    height: 650px;
}

.total{
    order: 2;
}

.foto-producto{
    order: 1;
}

h1 {
    text-align: center;
}

.devoluciones{
    text-align: center;
}

.titulo { /*Ajusto la seccion de la pagina web*/
    top: 5%;
    left: 50%;
    text-align: center;
    font-size: 50px;
}

.imagenes-productos {
    z-index: 1; /*Mando las imagenes al indice 1 para que el fondo no las tape*/
    position: relative;
    display: flex; /*Aplico flexbox para posicionarlas como quiero */
    width: auto;

}

.contenedor-imagen { /*Ajusto la imagen de fondo*/
    position: fixed; /*Le asigno una posicion fija en el viewport */
    top: 51%; /*Asigno las posiciones sobre los margenes */
    left: 50%;
    width: 75%;
    height: 75%;
    transform: translate(-50%, -50%); /*Ajusta hacia arriba y la izquierda un 50% de su propio tamano para centrarlo por completo (sin esto no me funcionaba) */
    z-index: 0; /*Lo mando atras para que las imagenes de los productos aparezcan delante */
}

