
html{
    color: black;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-style: normal;
    }

body{
    background-color: #eeebe6f3;
}

header{
    min-width: min-content;
}

#conteiner{
        display: flexbox;
        align-items: center;  
        
        background-color: whitesmoke;
    }
    
p:hover{
   font-weight: bold;
}

.titulo{
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 30px;
  
  justify-content: space-between;
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid black;
  align-items: center;
}


.titulo img{
    float: right;
  }
      

#logo{
       width: 70px;
       height: 70px;
       border-radius: 50%;
       border: 2px solid black;
      margin-right: 30px;
    }
    
a {
        text-decoration: none; 
        color: rgb(55, 55, 55); 
       
    }

#menu{
    display: flex;
    color: grey;
    background-color: whitesmoke;
    width: 100%;

}

#menu a{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border: 2px solid black;
  padding:10px;
  text-align: center;
}

.menu-item{
    margin: auto;
    padding-left: 40px;
    }

#menu a:hover{
    color: black;
    box-shadow: 0px 20px 15px rgba(0,0,0,0.20);

}



#barra_nav{
display:grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;

}

#foot{
    display: flex;
    color: rgb(60, 54, 54);
    margin: 15px;
   width: max-content;

}

#foot li{
    list-style: none;
}

#footer{
    color: rgb(51, 47, 47);
    font-weight: bold;
    font-size: 10px;
    margin: 15px;
}

footer h4{
    text-align: center;
    margin: 15px;   
}

footer{
    justify-content: center;
    align-items: center;
    display: flexbox;
    background-color: whitesmoke;
    min-width: max-content;
    height: max-content;
    padding: 23px;
}

.ult_nov{
    text-align: center;
    padding: 30px; 
    font-size: 40px;
}

.secc{
    text-align: left;
    padding: 0px; 
    font-size: 26px;
}

#secciones{
   display: flexbox;
   padding: 10px;
}

.productos{
    display: flex;
    padding: 30px;
 }

.remera{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 65% 35%;
    padding: 10px;
    
 }

 .remera-img img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
    border: 2px solid black;
    border-radius: 15px;
 }



.info{
    color: black;
    font-size: medium;
    display: grid;

   
    flex-direction: column;
    line-height: 1;

 }


.remera:hover{
    transform: scale(1,1.15);
    box-shadow: 0px 20px 15px rgba(0,0,0,0.20);
    margin: 10px;
    transition: all 0.5s;
 }

#botones{
    display: flex;
    gap: 15px;
    padding: 25px;
 }

#boton{
background-color: whitesmoke;
font-family:"Lato", sans-serif;
font-style: normal;
 }

 #boton:hover{
    box-shadow: 0px 20px 15px rgba(0,0,0,0.20);
    font-weight: bold;
     }

     
.contenedor-padre{
display: flex;
    /*utilizar flexbox*/
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch; /* Estirar las cajas para que tengan la misma altura */
    /*alinear verticalmete al centro*/
    justify-content: space-around;
    /*distribuir el espacio entre los elementos*/
    padding-left: 15px;
    padding-right: 15px;
    height: 650px;
}
.total{
    order: 2;
}
.foto-producto{
    order: 1;
}

h1 {
    text-align: center;
}

.devoluciones{
    text-align: center;
}

.tit { /*Ajusto la seccion de la pagina web*/
    top: 5%;
    left: 50%;
    text-align: center;
    font-size: 50px;
}

.imagenes-productos {
    position: relative;
    display: flex; /*Aplico flexbox para posicionarlas como quiero */
    justify-content: center;
    gap: 50px;
}

.producto {
    flex: 0 0 auto;
    text-align: center;
    max-width: 100%;
    height: auto;
}